.proyects {
  background: url("../../../img/javascrip2.jpg");
  background-size: cover 100%;
  background-position-x: center;
  background-attachment: fixed;
  width: 100%;
  height: max-content;
  position: relative;

  .contenedorProyectos {
    width: 100%;
    height: 100%;

    .tit {
      text-align: center;
      color: #fff;
      font-size: 40px;
      padding-top: 40px;
      font-weight: 900;
      background: linear-gradient(to bottom, #000, #00000000);
    }
    .proyectos {
      margin-top: 50px;
      width: 100%;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      justify-content: center;

      .proyecto {
        overflow: hidden;
        position: relative;
        width: max-content;
        height: max-content;
        background-color: #0c0c0c;
        display: flex;
        transition: all 0.3s;

        .imgProyecto {
          width: 300px;
          height: 180px;
        }
        .infoP {
          padding: 10px;
          color: #959494;
          width: 300px;
          transition: all 1s;

          .tituloP {
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
          }
        }

        .tecnologias {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            padding-top: 10px;
            width: 20px;
            transition: all 0.5s;
            filter: grayscale(50%);

            &:hover {
              filter: grayscale(0%);
              transform: scale(1.2);
            }
          }
        }

        .abrirRepo {
          position: absolute;
          top: 5px;
          right: 5px;
          width: max-content;
          padding: 0;
          cursor: pointer;
          display: flex;
          gap: 10px;

          img {
            filter: invert(20%);
            width: 20px;

            &:hover {
              filter: invert(30%);
            }
          }
        }

        &:hover {
          border-radius: 4px;
          box-shadow: 0px 0px 13px #ffffff5a;
          transform: translateY(5px);
        }

        @media screen and (max-width: 900px) {
          // background-color: red;
          flex-direction: column;
          .imgProyecto {
            margin: auto;
            margin-top: 10px;
          }
          .infoP {
            padding: 10px;
          }
          .tecnologias {
            gap: 3px;
          }
          .abrirRepo {
            top: auto;
            bottom: 0;
          }
        }
      }
    }
  }

  .res {
    background: linear-gradient(to top left, #ffff0a, #ea890b);
    -webkit-background-clip: text;
    font-weight: 700;
    color: transparent;
  }
}
