@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

.about {
  font-family: "Kanit", sans-serif;
  display: flex;
  margin-top: 15%;
  color: #fff;
  .img {
    overflow: hidden;
    font-weight: 900;
    margin-bottom: 90px;
  }
  .perfil {
    width: 300px;
    height: 300px;
    background: url("../../../img/perfil1.png");
    background-size: 300px;
    transition: all 0.5s;
    border-radius: 4px;
    position: relative;
    border: 0;

    .hoverAdv {
      color: transparent;
      // color: #ffffff24;
      margin: 5px;
      // background-color: ;
      // background-image: radial-gradient(#fff , #00000000 70%, #fff );
      background: linear-gradient(to left, #00000000, #ffffff46, #00000000);
      -webkit-background-clip: text;
      transition: all 0.3s;
      animation: hoverAdv 4s infinite ease-in;
    }
    @keyframes hoverAdv {
      from {
        background-position-x: 100px;
      }
    }

    p {
      opacity: 0;
      position: absolute;
      top: 20px;
      opacity: 0;
      left: -100%;
      transition: all 0.5s;
      font-size: 25px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      font-size: 17px;
      width: max-content;
      height: 80%;
      justify-content: end;
      position: absolute;
      left: -100%;
      transition: all 0.8s;

      div {
        display: flex;
        align-items: center;
        filter: grayscale(100%);
        transition: all 0.2s;
        a {
          text-decoration: none;
          color: #3a3a3a;
        }
        &:hover {
          filter: grayscale(0%);
          a {
            color: #7e7e7e;
            font-weight: 0;
          }
        }
      }

      img {
        width: 25px;
        margin: 8px 5px;
      }
    }

    &:hover {
      background: url("../../../img/perfil1.png") left center no-repeat;
      background-size: 550px;
      // border: 1px solid #9e9e9e7b;
      &::before {
        position: absolute;
        content: "";
        width: 97%;
        height: 97%;
        left: 1.5%;
        top: 1.5%;
        background-color: transparent;
        border: 1px solid #f5f3f37b;
      }
      .hoverAdv {
        opacity: 0;
      }
      p {
        left: 10px;
        opacity: 1;
      }
      .contact {
        left: 5px;
      }
    }
  }
}
