@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

.about {
  font-family: "Kanit", sans-serif;
  padding: 5% 0;
  color: #fff;
  width: 100%;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  background-color: #000;

  section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .tech {
      width: 100%;
      text-align: center;
      font-size: 25px;
      font-weight: 900;
      margin-top: 90px;
      margin-bottom: 30px;
    }
    .tech_Skills {
      width: 70%;
      text-align: center;
      display: flex;
      justify-content: center;
      div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        img {
          filter: grayscale(100%);
          width: 60px;
          transition: all 0.5s;
          position: relative;

          &:hover {
            transform: scale(1.2);
            filter: grayscale(0);
          }
        }
      }
    }
  }

  .img {
    overflow: hidden;
    font-weight: 900;
    transition: all 1s;
    opacity: 100%;

    .perfil {
      width: 300px;
      height: 300px;
      background: url("../../../img/perfil2.jpg") center center no-repeat;
      background-size: 300px;
      transition: all 0.5s;
      border-radius: 4px;
      position: relative;
      border: 0;

      .hoverAdv {
        color: transparent;
        margin: 5px;
        background: linear-gradient(to left, #00000000, #ffffff46, #00000000);
        -webkit-background-clip: text;
        transition: all 0.3s;
        animation: hoverAdv 4s infinite ease-in;
      }
      @keyframes hoverAdv {
        from {
          background-position-x: 100px;
        }
      }

      p {
        opacity: 0;
        position: absolute;
        top: 20px;
        opacity: 0;
        left: -100%;
        transition: all 0.5s;
        font-size: 25px;
      }

      .contact {
        display: flex;
        flex-direction: column;
        font-size: 17px;
        width: max-content;
        height: 80%;
        justify-content: end;
        position: absolute;
        left: -100%;
        transition: all 0.8s;

        div {
          display: flex;
          align-items: center;
          filter: grayscale(100%);
          transition: all 0.2s;
          a {
            text-decoration: none;
            color: #3a3a3a;
          }
          &:hover {
            filter: grayscale(0%);
            a {
              color: #7e7e7e;
              font-weight: 0;
            }
          }
        }

        img {
          width: 25px;
          margin: 8px 5px;
        }
      }

      &:hover {
        background: url("../../../img/perfil3.jpg") left center no-repeat;
        background-size: 550px;
        &::before {
          position: absolute;
          content: "";
          width: 97%;
          height: 97%;
          left: 1.5%;
          top: 1.5%;
          background-color: transparent;
          border: 1px solid #f5f3f37b;
          border-radius: 5px;
        }
        .hoverAdv {
          opacity: 0;
        }
        p {
          left: 30px;
          opacity: 1;
        }
        .contact {
          left: 10px;
        }
      }
    }
  }
  .informacion {
    margin-left: 30px;
    width: 50%;
    height: 100%;
    font-size: 17px;
    background-color: #00000000;
    padding: 0;
    opacity: 100%;
    transition: all 1s;

    p {
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
    .res {
      background: linear-gradient(to bottom right, #ffff02, #ff9500);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: 900;
      text-shadow: 0px 0px 0.5px #ffff02;
    }

    .cv {
      background: linear-gradient(to bottom right, #ffff02, #ff9500);
      text-decoration: none;
      color: #000;
      padding: 5px 15px;
      border-radius: 20px;
      box-shadow: 0px 0px 3px #828207;
      transition: all 0.5s;

      &:hover {
        box-shadow: 0px 0px 9px #959509;
      }
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding: 15% 0;
    width: 100%;
    .informacion {
      width: 90%;
      margin: 0;
      margin-top: 30px;
    }
  }
  .obs {
    opacity: 0%;
    margin-right: 50px;
  }
  .obs2 {
    margin-right: 50px;
    opacity: 0%;
  }
}
