:root {
  --resaltar: #f9ca10;
}

.Home {
  color: #d3d3d3;

  .back {
    background-color: #00000044;
    box-shadow: 0px 0px 13px #0000009c;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 6% 1% 3%;
    margin-top: 4%;
  }

  #gradient-canvas {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    --gradient-color-1: #0c0a39;
    --gradient-color-2: #370d08;
    --gradient-color-3: #310738;
    --gradient-color-4: #061a02;
  }

  .soy {
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 9%;
    padding-right: 9%;

    .img2 {
      padding: 20px;
      transition: all 0.3s;
      position: relative;
      .imglaptop {
        transition: all 0.3s;
        filter: grayscale(70%);
      }
      img {
        width: 300px;
      }

      .iconoIMG {
        position: absolute;
        width: 40px;
        bottom: 0;
        height: 35px;
        z-index: 100;
        opacity: 0%;

        &:nth-child(1) {
          animation: iconoTop 5s infinite ease-in-out;
          right: 25%;
          filter: none;
        }
        &:nth-child(2) {
          right: 39%;
          animation: iconoTop 5s 1s infinite ease-in-out;
        }
        &:nth-child(3) {
          animation: iconoTop 5s 2s infinite ease-in-out;
          right: 25%;
        }
        &:nth-child(4) {
          animation: iconoTop 5s 3s infinite ease-in-out;
          right: 55%;
        }
        &:nth-child(5) {
          animation: iconoTop 5s 4s infinite ease-in-out;
          right: 43%;
        }
      }

      @keyframes iconoTop {
        20% {
          opacity: 0%;
        }
        40% {
          opacity: 100%;
        }
        70% {
          opacity: 0%;
        }
        100% {
          transform: translateY(-300px);
        }
      }

      &:hover {
        .imglaptop {
          filter: grayscale(0);
        }
        transform: scale(1.1);
      }
    }

    .textXD {
      color: var(--resaltar);
      text-shadow: 0px 0px 1px var(--resaltar);
    }
    .nombre {
      padding: 30px 20px;

      span {
        font-size: 20px;
        color: var(--resaltar);
      }
      h1 {
        font-size: 3.7rem;
      }
    }
  }
  .sobre {
    background: linear-gradient(to bottom right, #f3ce16, #bb5c0d);
    width: max-content;
    margin: 1% 11% 7%;
    padding: 5px 15px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 0px 5px #f3ce16;
    cursor: pointer;
    transition: all 0.3s;

    p {
      color: #4b4b4b;
      color: #000;
      transition: all 0.3s;
      a {
        color: #000;
        text-decoration: none;
      }
    }

    &:hover {
      box-shadow: 0px 0px 9px #d7b714;
      p {
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .soy {
      justify-content: center;
      padding: 0;
    }

    .back {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
