@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

:root {
  --resaltar: #f9ca10;
}

.Home {
  color: #d3d3d3;
  // height: 200vh;
  #gradient-canvas {
    position: fixed;
    top: 0;
    z-index: -1;
    // width: 100%;
    height: 100%;
    --gradient-color-1: #000000;
    --gradient-color-2: #0e010c;
    --gradient-color-3: #1a011e;
    --gradient-color-4: #000000;
  }

  .soy {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: max-content;
    margin: auto;
    margin-top: 12%;

    .img2 {
      padding: 20px;
      filter: grayscale(70%);
      transition: all 0.3s;
      img {
        width: 300px;
      }
      &:hover {
        filter: grayscale(0);
      }
    }

    .textXD {
      color: var(--resaltar);
      text-shadow: 0px 0px 3px var(--resaltar);
    }
    .nombre {
      padding: 30px 20px;
      // margin-right: 15%;

      span {
        font-size: 20px;
        color: var(--resaltar);
      }
      h1 {
        font-size: 3.5rem;
      }
    }
  }
}
