.contacto {
  display: flex;
  color: #fff;
  background-color: #000000;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

  .AlertaOk {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: max-content;
    height: 30px;
    background-color: #1b1b1b;
    padding: 10px 20px;
    color: #7e7e7e;
    border: 0;
    border-left: 7px solid #199619;
    border-radius: 5px 0 0 5px;
    transition: all 0.7s;

    button {
      background-color: transparent;
      color: #7e7e7e;
      font-weight: 900;
      margin-right: 20px;
      border: 0;
      cursor: pointer;
    }
  }

  .AlertaFail {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 300px;
    height: max-content;
    background-color: #1b1b1b;
    color: #7e7e7e;
    border: 0;
    border-left: 7px solid #961919;
    border-radius: 5px 0 0 5px;
    z-index: 300;
    padding: 3px 3px 3px 10px;
    align-items: center;
    transition: all 0.7s;
    p {
      color: #fff;
    }
    button {
      background-color: transparent;
      color: #7e7e7e;
      font-weight: 900;
      margin-right: 20px;
      border: 0;
      cursor: pointer;
    }
  }

  .cerrarAlerta {
    right: -150%;
  }

  .contactame {
    .contactTitle {
      font-size: 50px;
      color: #fff;
      font-weight: 900;
    }
    .perfiles {
      display: flex;
      gap: 30px;
    }
    .whats {
      background: linear-gradient(to top left, #14b814, #055605);
      padding: 3px 6px;
      text-decoration: none;
      color: #fff;
      border-radius: 5px;
    }
    a {
      img[alt="linkedin"] {
        width: 35px;
        padding-top: 5px;
      }
      img[alt="github"] {
        width: 50px;
      }

      img {
        &:hover {
          animation: hoverC 0.3s;
        }
        @keyframes hoverC {
          20% {
            transform: rotate(3deg);
          }
          60% {
            transform: rotate(-3deg);
          }
          100% {
            transform: rotate(3deg);
          }
        }
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 350px;

    .span {
      position: relative;
      background-color: transparent;
      width: 100%;
      height: 30px;
      margin: 10px 0;

      input,
      textarea {
        position: absolute;
        // opacity: 0;
        top: 0;
        left: 0;
        width: 98.5%;
        height: 100%;
        background-color: #1f1e1e;
        border: 1px solid #575757;
        border-radius: 4px;
        transition: all 0.3s;
        outline: none;
        padding: 0 0 0 5px;
        resize: none;
        color: #fff;

        &:focus {
          // transform: translateX(-5px) translateY(-5px);
          transform: scale(1.02);
        }
      }
      .invalid {
        border: 1px solid #b61111;
        animation: error 0.3s;
        &::placeholder {
          color: #954a4a;
        }

        @keyframes error {
          20% {
            transform: translateX(3px);
          }
          45% {
            transform: translateX(-3px);
          }
          60% {
            transform: translateX(3px);
          }
          85% {
            transform: translateX(-3px);
          }
        }
      }
    }
    .textarea {
      height: 150px;
    }

    .enviar {
      background: linear-gradient(to top left, #e7e715, #ff8c00);
      width: max-content;
      padding: 5px 30px;
      margin-top: 20px;
      transition: all 0.4s;
      color: #000;
      border-radius: 5px;
      border: 0;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 13px #f2b80a7f;
      }

      &:disabled {
        color: #1f1e1e;
        background: linear-gradient(to top left, #81810f, #7f4b0c);
        box-shadow: none;
        cursor: no-drop;
      }
    }

    .dos {
      padding: 5px 30px 0;
    }
  }

  @media only screen and (max-width: 630px) {
    form {
      margin-top: 30px;
    }
  }
}
