@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

nav {
  color: #fff;
  font-family: "Kanit", sans-serif;
  background-color: #00000000;
  transition: all 0.4s;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 200;
  display: flex;
  justify-content: space-between;

  .menu {
    display: none;
  }

  .logo {
    font-size: 17px;
    padding: 7px 10px 10px 20px;
    width: max-content;
    text-align: center;
  }
  ul {
    display: flex;
    margin-top: 12px;
    margin-right: 30px;
    padding: 7px 10px 10px 20px;
    li {
      font-size: 20px;
      list-style: none;
      margin: 0 20px;
      color: #9a9a9a77;
      position: relative;
      transition: all 0.3s;
      cursor: pointer;
      &::before {
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #fff;
        position: absolute;
        transition: all 0.3s;
      }
      &:hover {
        color: #fff;
        &::before {
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .menu,
    .menuAct {
      display: block;
      position: relative;
      top: 20px;
      left: 20px;
      width: 30px;
      height: 25px;
      cursor: pointer;
      z-index: 200;

      span {
        transition: all 0.5s;
        content: "";
        background-color: #66656572;
        height: 3px;
        border-radius: 3px;
        position: absolute;
        width: 100%;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 9px;
        }
        &:nth-child(3) {
          top: 19px;
        }
      }
    }

    .menuAct {
      span {
        background-color: #444444;
        &:nth-child(1) {
          transform-origin: left;
          transform: rotate(41deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform-origin: left;
          transform: rotate(-41deg);
        }
      }
    }

    .logo {
      margin: auto;
    }

    ul {
      transition: all 0.5s;
      opacity: 0;
      flex-direction: column;
      position: fixed;
      text-align: center;
      left: -100%;
      top: 0;
      height: 100vh;
      width: 80%;
      padding: 10px;

      margin: 0;
      padding: 10px;

      li {
        width: 100%;
        top: 0;
        margin: 20px 0;
        padding: 0;
      }
    }
    .menuAv {
      ul {
        opacity: 1;
        width: 100%;
        left: 0;
        background-color: #000;
        margin: 0;
        padding: 10px;

        li {
          width: 100%;
          top: 0;
          margin: 20px 0;
          padding: 0;

          &:hover {
            text-shadow: 0px 0px 13px #fff;
            font-size: 23px;
            &::before {
              width: 0;
            }
          }
        }
      }
    }
  }
}
