.footer {
  background-color: #000;
  color: #6f6e6e;
  padding: 40px 40px 20px;
  font-size: 17px;
  position: relative;
  overflow: hidden;

  .linea {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    border: 0;
    background: linear-gradient(to left, #000, #5f5e5e, #000);
  }

  .inf {
    display: flex;
    justify-content: space-between;

    img {
      width: 25px;
      filter: grayscale(100%);
      margin: 0 10px;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.03);
        filter: grayscale(0%);
      }
    }
  }
}
