@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar {
  background-color: #282424;
}
body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 20px;
  border: 0;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
